body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#navigation {
  background-image: url("../img/background-top.jpg");
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 998px;
}

#navigation .navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f28+0,1f1f28+97&1+0,0.03+97 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f28), color-stop(97%, rgba(31, 31, 40, 0.03))) !important;
  background: linear-gradient(to bottom, #1f1f28 0%, rgba(31, 31, 40, 0.03) 97%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f28', endColorstr='#081f1f28', GradientType=0) !important;
  /* IE6-9 */
  /* Start of Navbar hamburger animation*/
  /*End of Navbar hamburger animation*/
}

#navigation .navbar .navbar-nav a {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
}

#navigation .navbar .navbar-nav a:hover {
  color: #ed485c !important;
}

#navigation .navbar .image_off,
#navigation .navbar #home:hover .image_on {
  display: none;
}

#navigation .navbar .image_on,
#navigation .navbar #home:hover .image_off {
  display: block;
}

#navigation .navbar .navbar-toggler {
  border: none;
}

#navigation .navbar .navbar-toggler:focus {
  outline: none;
}

#navigation .navbar .navbar-toggler .icon-bar {
  background-color: #fff;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler .icon-bar {
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 1px;
}

#navigation .navbar .navbar-toggler .icon-bar {
  margin-top: 4px;
}

#navigation .navbar .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 28px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
          transform: rotate(-45deg) translate(6px, -6px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#navigation .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#navigation .moreInfo {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

#navigation .moreInfo p {
  font-size: 22px;
  color: #fff;
}

#navigation .moreInfo .image_off,
#navigation .moreInfo #home:hover .image_on {
  display: none;
}

#navigation .moreInfo .image_on,
#navigation .moreInfo #home:hover .image_off {
  display: inline-block;
}

@media (max-width: 992px) {
  .triangle img {
    max-width: 600px !important;
  }
}

@media (max-width: 768px) {
  .triangle img {
    max-width: 500px !important;
  }
}

@media (max-width: 576px) {
  #navigation {
    height: 600px;
  }
  .triangle img {
    max-width: 350px !important;
  }
}

@media (max-width: 400px) {
  .triangle img {
    max-width: 250px !important;
  }
}
/*# sourceMappingURL=style.css.map */