* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#sectionTop {
  background-image: url("../img/background-top.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 998px;
}

#sectionTop .container {
  max-width: 1170px;
  padding: 0px;
}

#sectionTop .navbar-brand {
  padding: 0px;
  margin: 0px;
}

#sectionTop .navbar {
  line-height: 0;
  padding: 59px 0px 0px 0px;
  /* Start of Navbar hamburger animation*/
  /*End of Navbar hamburger animation*/
}

#sectionTop .navbar .navbar-nav .nav-item {
  padding: 0 35px 0 0;
}

#sectionTop .navbar .navbar-nav .nav-link {
  padding: 0;
}

#sectionTop .navbar .navbar-nav a {
  color: #fff;
  font-family: "Open Sans Semibold", sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
}

#sectionTop .navbar .navbar-nav a:hover {
  color: #ed485c !important;
}

#sectionTop .navbar .image_off,
#sectionTop .navbar #home:hover .image_on {
  display: none;
}

#sectionTop .navbar .image_on,
#sectionTop .navbar #home:hover .image_off {
  display: inline-block;
}

#sectionTop .navbar .navbar-toggler {
  border: none;
}

#sectionTop .navbar .navbar-toggler:focus {
  outline: none;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  background-color: #fff;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 1px;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  margin-top: 4px;
}

#sectionTop .navbar .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 28px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
          transform: rotate(-45deg) translate(6px, -6px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sectionTop .contLogo {
  text-transform: uppercase;
  text-align: center;
  color: #c1c2c5;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-52%, -50%);
          transform: translate(-52%, -50%);
  max-width: 100%;
}

#sectionTop .contLogo p {
  margin: 0px 0px 35px 0;
  font-family: "Open Sans Bold", sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 1;
}

#sectionTop .contLogo .f-light {
  font-family: "Open Sans Light", sans-serif;
  font-weight: lighter;
  font-size: 80px;
}

#sectionTop .moreInfo {
  position: absolute;
  left: 50%;
  bottom: 11%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

#sectionTop .moreInfo p {
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans Bold' sans-serif;
}

#sectionTop .moreInfo .image_off,
#sectionTop .moreInfo #home:hover .image_on {
  display: none;
}

#sectionTop .moreInfo .image_on,
#sectionTop .moreInfo #home:hover .image_off {
  display: inline-block;
}

#main {
  background-color: #f3f3f3;
}

#main p {
  line-height: normal;
}

#main .item > p {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 2px;
}

#main .info p {
  max-width: 966px;
  font-size: 18px;
  margin-bottom: 85px;
  padding: 0px 30px 0px 30px;
  font-family: "Open Sans Light Italic", sans-serif;
  letter-spacing: 2px;
}

#main h2 {
  font-size: 27px;
  text-transform: uppercase;
  margin: 0 0 35px 0;
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 900;
}

#main .title2 {
  margin-bottom: 60px;
}

#main h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Open Sans Semibold", sans-serif;
}

#main .image {
  margin: 55px 0 60px 0;
}

#main .ourWork .info {
  color: #58667f !important;
}

#main .owl-nav {
  display: inline-block;
}

#main .owl-one .owl-item {
  width: 214px;
}

#main .owl-one .item div,
#main .owl-one .item h4 {
  margin-bottom: 32px;
}

#main .owl-one .owl-nav button.owl-prev,
#main .owl-one button.owl-dot {
  font-size: 60px;
  position: absolute;
  left: -4%;
  top: 38%;
}

#main button.owl-prev:hover,
#main button.owl-next:hover {
  background: none;
}

#main .owl-one .owl-nav button.owl-next,
#main .owl-one button.owl-dot {
  position: absolute;
  right: -4%;
  top: 38%;
  font-size: 60px;
}

#main button span {
  color: #ed485c;
}

#main button:focus {
  outline: none;
}

#main .aboutUs {
  background-image: url("../img/backgrund2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#main .aboutUs .info {
  color: #fff;
}

#main .aboutUs h2 {
  line-height: normal;
  color: #fff;
}

#main .ourTeam {
  color: #58667f;
}

#main .ourTeam h2 {
  margin: 58px 0 58px 0;
}

#main .ourTeam .row > div {
  margin-bottom: 35px;
}

#main .ourTeam .names {
  margin: 34px 0 10px 0;
  color: #ed485c;
}

#main .ourTeam ul {
  list-style: none;
  padding-left: 0px;
}

#main .ourTeam ul li {
  line-height: normal;
  font-size: 20px;
  color: #58667f;
}

#main .ourTeam ul a {
  text-decoration: none;
  color: #58667f;
}

#main .ourTeam ul a:hover {
  color: #2d4b81;
}

#main .ourTeam ul li:not(:last-child) {
  padding-right: 20px;
}

#main .ourClients {
  background-image: url("../img/background3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#main .ourClients h2 {
  color: #ed485c;
}

#main .ourClients .owl-two .owl-nav button.owl-prev,
#main .ourClients .owl-two button.owl-dot {
  font-size: 60px;
  position: absolute;
  left: 0%;
  top: -26%;
}

#main .ourClients .owl-two .owl-nav button.owl-next,
#main .ourClients .owl-two button.owl-dot {
  position: absolute;
  right: 1%;
  top: -35%;
  font-size: 60px;
}

#main .ourClients button span {
  color: #6d6865;
}

#main .ourClients button:focus {
  outline: none;
}

#main .ourProjects {
  /* clearfix */
  /* ---- grid-item ---- */
}

#main .ourProjects .works h2 {
  color: #58667f;
}

#main .ourProjects .works ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 55px;
}

#main .ourProjects .works ul li {
  width: 100%;
  color: red;
}

#main .ourProjects .works ul li a {
  line-height: normal;
  display: block;
  padding: 12px 30px 12px 30px;
  text-decoration: none;
  border: 1px solid #ed485c;
  color: #ed485c;
}

#main .ourProjects .works ul li a:hover {
  color: #fff;
  background-color: #ed485c;
}

#main .ourProjects .works ul li:first-child a {
  color: #fff;
  background-color: #ed485c;
}

#main .ourProjects .works ul li:not(:last-child) {
  margin-right: 30px;
}

#main .ourProjects .grid {
  background: #EEE;
  /* center */
  margin: 0 auto;
}

#main .ourProjects .grid:after {
  content: '';
  display: block;
  clear: both;
}

#main .ourProjects .grid-item {
  width: 320px;
  height: 243px;
  float: left;
}

#main .ourProjects .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

#main .ourProjects .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75, 75, 75, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#main .ourProjects .hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

#main .ourProjects .hovereffect img {
  display: block;
  position: relative;
}

#main .ourProjects .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#main .ourProjects .hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

#main .ourProjects .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 30px 0 0 0;
  padding: 80px 100px;
}

#main .ourProjects .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#main .ourProjects .hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

#main .ourBlog {
  color: #58667f;
}

#main .ourBlog .row > div {
  padding: 0 30px 0 0;
}

#main .ourBlog .imgContBlog {
  margin-bottom: 30px;
}

#main .ourBlog .contentBlog {
  max-width: 368px;
  padding-bottom: 60px;
}

#main .ourBlog .contentBlog .titleCard {
  margin: 40px 0 60px 0;
}

#main .ourBlog .contentBlog .mb40 {
  margin-bottom: 40px;
}

#main .ourBlog h4 {
  text-transform: inherit;
}

#main .ourBlog h4 a {
  text-decoration: none;
  color: #58667f;
}

#main .ourBlog h4 a:hover {
  color: #146b80;
}

#main .ourBlog .todayDate,
#main .ourBlog .comments {
  position: relative;
  font-family: 'Open Sans Light', sans-serif;
  color: #a3afbf;
}

#main .ourBlog .todayDate:before,
#main .ourBlog .comments:before {
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  font-weight: 900;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
}

#main .ourBlog .comments:hover {
  color: #ed485c;
  cursor: pointer;
}

#main .ourBlog .todayDate:before {
  content: "\f073";
}

#main .ourBlog .comments:before {
  content: "\f086";
}

#main .ourBlog p {
  margin-bottom: 0;
}

#main .ourBlog p:nth-child(2) {
  margin-top: 0px !important;
}

#main .getUpdate {
  color: #fff;
  background-image: url("../img/background4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px 20px 0px 20px;
}

#main .getUpdate .container {
  max-width: 1170px;
  padding: 0px;
}

#main .getUpdate h2 {
  margin: 58px 0 58px 0;
}

#main .getUpdate .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

#main .getUpdate .content ul {
  display: block;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

#main .getUpdate .content ul li:not(:last-child) {
  margin-right: 30px;
}

#main .getUpdate .content ul .triangle {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 54px solid red;
  color: #fff;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#main .getUpdate .content ul .triangle.color_fb {
  border-top-color: #58667f;
}

#main .getUpdate .content ul .triangle.color_fb:hover {
  border-top-color: #88667f;
}

#main .getUpdate .content ul .triangle.color_g {
  border-top-color: #db412e;
}

#main .getUpdate .content ul .triangle.color_g:hover {
  border-top-color: #904940;
}

#main .getUpdate .content ul .triangle.color_tw {
  border-top-color: #24b1d4;
}

#main .getUpdate .content ul .triangle.color_tw:hover {
  border-top-color: #146b80;
}

#main .getUpdate .content ul .triangle.color_in {
  border-top-color: #2671ae;
}

#main .getUpdate .content ul .triangle.color_in:hover {
  border-top-color: #61a1d5;
}

#main .getUpdate .content ul .triangle.color_pt {
  border-top-color: #cb2027;
}

#main .getUpdate .content ul .triangle.color_pt:hover {
  border-top-color: #b44c50;
}

#main .getUpdate .content ul .triangle i {
  position: absolute;
  top: -46px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 25px;
}

#main .getUpdate .content .input-group {
  width: 50%;
}

#main .getUpdate .content .input-group .form-control {
  border-radius: 0px;
  margin-right: 20px;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 18px;
  padding: 25px 0px 25px 20px;
}

#main .getUpdate .content .input-group .btn {
  line-height: 0;
  text-transform: uppercase;
  border-radius: 0px;
  background: #ed485c;
  color: #fff;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 20px;
  padding: 20px 25px 20px 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main .getUpdate .content .input-group .btn:hover {
  background-color: #be2638;
}

#main .contactUs .info {
  color: #58667f;
}

#main .contactUs .contactForm {
  color: #58667f;
  line-height: 1;
}

#main .contactUs .contactForm address {
  max-width: 250px;
  font-size: 18px;
}

#main .contactUs .contactForm h5 {
  font-weight: bold;
  margin-bottom: 40px;
}

#main .contactUs .contactForm p {
  font-style: italic;
}

#main .contactUs .contactForm p a {
  color: #ed485c;
}

#main .contactUs .contactForm p:nth-child(2),
#main .contactUs .contactForm p:nth-child(4) {
  margin-bottom: 40px;
}

#main .contactUs .form {
  margin-bottom: 54px;
}

#main .contactUs .form h2 {
  font-size: 27px;
  margin-bottom: 30px;
  font-family: "Open Sans Semibold", sans-serif;
}

#main .contactUs .form .input-group {
  margin-bottom: 25px;
}

#main .contactUs .form .input-group .form-control {
  margin-right: 30px;
  padding: 10px 20px 42px 30px;
}

#main .contactUs .form .input-group .form-control:last-child {
  padding: 10px 20px 100px 20px;
}

#main .contactUs .form .input-group .input-group-append {
  font-size: 27px;
}

#main .contactUs .form .btn {
  line-height: 0;
  text-transform: uppercase;
  border-radius: 0px;
  background: #ed485c;
  color: #fff;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 20px;
  padding: 20px 45px;
  margin-right: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main .contactUs .form .btn:hover {
  background-color: #be2638;
}

@media (max-width: 1200px) {
  .navbar {
    line-height: normal !important;
    padding: 59px 50px 0px 50px !important;
  }
  .navbar .nav-link {
    padding: 0.5rem !important;
  }
  .getUpdate .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .getUpdate .content ul {
    margin-bottom: 40px !important;
  }
  .getUpdate .content .input-group {
    width: 80% !important;
  }
  #main .ourBlog .row > div {
    padding: 0 10px 0 10px;
  }
  #main .ourBlog .row > div .imgContBlog img {
    max-width: 95%;
  }
}

@media (max-width: 992px) {
  #sectionTop .triangle img {
    max-width: 600px !important;
  }
  #sectionTop .contLogo p {
    margin: 0px 0px 25px 0;
    font-size: 30px;
  }
  #sectionTop .contLogo .f-light {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  #sectionTop .triangle img {
    max-width: 400px !important;
  }
  #sectionTop .contLogo {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-52%, -71%);
            transform: translate(-52%, -71%);
  }
  #sectionTop .contLogo p {
    margin: 0px 0px 15px 0;
    font-size: 20px;
  }
  #sectionTop .contLogo .f-light {
    font-size: 25px;
  }
}

@media (max-width: 657px) {
  #main .ourProjects .works ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main .ourProjects .works ul li:not(:last-child) {
    margin-right: 0;
  }
  #main .ourProjects .works ul li:not(:last-child) a {
    border-bottom: 0px;
  }
  .owl-one .owl-nav button.owl-prev,
  .owl-one button.owl-dot {
    font-size: 60px;
    position: absolute;
    left: 0% !important;
    top: 38%;
  }
  button.owl-prev:hover,
  button.owl-next:hover {
    background: none;
  }
  .owl-one .owl-nav button.owl-next,
  .owl-one button.owl-dot {
    position: absolute;
    right: 0% !important;
    top: 30%;
    font-size: 60px;
  }
  #sectionTop .triangle img {
    max-width: 350px !important;
  }
  .getUpdate ul li:not(:last-child) {
    margin-right: 5px !important;
  }
  .getUpdate .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .getUpdate .input-group .form-control {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .getUpdate .input-group .input-group-append {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */