body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#sectionTop {
  background-image: url("../img/background-top.jpg");
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 998px;
}

#sectionTop .navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f28+0,1f1f28+97&1+0,0.03+97 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f28), color-stop(97%, rgba(31, 31, 40, 0.03))) !important;
  background: linear-gradient(to bottom, #1f1f28 0%, rgba(31, 31, 40, 0.03) 97%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f28', endColorstr='#081f1f28', GradientType=0) !important;
  /* IE6-9 */
  /* Start of Navbar hamburger animation*/
  /*End of Navbar hamburger animation*/
}

#sectionTop .navbar .navbar-nav a {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
}

#sectionTop .navbar .navbar-nav a:hover {
  color: #ed485c !important;
}

#sectionTop .navbar .image_off,
#sectionTop .navbar #home:hover .image_on {
  display: none;
}

#sectionTop .navbar .image_on,
#sectionTop .navbar #home:hover .image_off {
  display: block;
}

#sectionTop .navbar .navbar-toggler {
  border: none;
}

#sectionTop .navbar .navbar-toggler:focus {
  outline: none;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  background-color: #fff;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 1px;
}

#sectionTop .navbar .navbar-toggler .icon-bar {
  margin-top: 4px;
}

#sectionTop .navbar .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 28px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
          transform: rotate(-45deg) translate(6px, -6px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

#sectionTop .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sectionTop .moreInfo {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

#sectionTop .moreInfo p {
  font-size: 22px;
  color: #fff;
}

#sectionTop .moreInfo .image_off,
#sectionTop .moreInfo #home:hover .image_on {
  display: none;
}

#sectionTop .moreInfo .image_on,
#sectionTop .moreInfo #home:hover .image_off {
  display: inline-block;
}

#main .ourWork .info {
  color: #58667f !important;
}

#main .ourWork .info .image {
  margin: 40px 0px 40px 0px;
}

#main .ourWork .info strong {
  margin-bottom: 40px;
}

#main .ourWork .info strong h2 {
  margin: 0px;
}

#main .ourWork .info p {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
}

#main .owl-nav {
  display: inline-block;
}

#main .owl-carousel .item div,
#main .owl-carousel .item h4 {
  margin-bottom: 20px;
}

#main .owl-carousel .item p {
  font-size: 12px;
  font-weight: 400px;
  font-style: italic;
  letter-spacing: 2px;
}

#main .owl-carousel .owl-nav button.owl-prev,
#main .owl-carousel button.owl-dot {
  font-size: 60px;
  position: absolute;
  left: -4%;
  top: 38%;
}

#main button.owl-prev:hover,
#main button.owl-next:hover {
  background: none;
}

#main .owl-carousel .owl-nav button.owl-next,
#main .owl-carousel button.owl-dot {
  position: absolute;
  right: -4%;
  top: 38%;
  font-size: 60px;
}

#main button span {
  color: #ed485c;
}

#main button:focus {
  outline: none;
}

#main .aboutUs {
  background-image: url("../img/backgrund2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 323px;
}

#main .aboutUs .info {
  color: #fff;
}

#main .aboutUs .info .image {
  margin: 40px 0px 40px 0px;
}

#main .aboutUs .info strong {
  margin-bottom: 40px;
}

#main .aboutUs .info strong h2 {
  margin: 0px;
}

#main .aboutUs .info p {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
}

@media (max-width: 992px) {
  .triangle img {
    max-width: 600px !important;
  }
}

@media (max-width: 768px) {
  .triangle img {
    max-width: 500px !important;
  }
}

@media (max-width: 576px) {
  #navigation {
    height: 600px;
  }
  .triangle img {
    max-width: 350px !important;
  }
}

@media (max-width: 400px) {
  .triangle img {
    max-width: 250px !important;
  }
}
/*# sourceMappingURL=style.css.map */