    $color-pink: #ed485c;
    $font-openSansLightItalic: "Open Sans Light Italic", sans-serif;
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
    }

    
    #sectionTop {
        .container {
            max-width: 1170px;
            padding: 0px;
        }
        background-image: url('../img/background-top.jpg');
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height: 998px;
        .navbar-brand {
            padding: 0px;
            margin: 0px;
        }
        .navbar {
            line-height: 0;
            padding: 59px 0px 0px 0px;
            .navbar-nav {
                .nav-item {
                    padding: 0 35px 0 0;
                }
                .nav-link {
                    padding: 0;
                }
                a {
                    color: #fff;
                    font-family: "Open Sans Semibold", sans-serif;
                    letter-spacing: 3px;
                    font-size: 16px;
                }
                a:hover {
                    color: $color-pink !important;
                }
            } //Start change logo
            .image_off,
            #home:hover .image_on {
                display: none;
            }
            .image_on,
            #home:hover .image_off {
                display: inline-block;
            } //End change logo 
            /* Start of Navbar hamburger animation*/
            .navbar-toggler {
                border: none;
            }
            .navbar-toggler:focus {
                outline: none;
            }
            .navbar-toggler .icon-bar {
                background-color: #fff;
                transition: ease all .2s;
            }
            .navbar-toggler .icon-bar {
                display: block;
                width: 28px;
                height: 4px;
                border-radius: 1px;
            }
            .navbar-toggler .icon-bar {
                margin-top: 4px;
            }
            .icon-bar:nth-child(2) {
                width: 22px;
                transition: ease all .2s;
            }
            .navbar-toggler:hover>.icon-bar:nth-child(2) {
                width: 22px;
                transition: ease all .2s;
            }
            .navbar-toggler:active>.icon-bar:nth-child(2) {
                width: 28px;
                transition: ease all .2s;
            }
            .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
                transform: rotate(45deg) translate(5px, 4px);
                transition: ease all .2s;
            }
            .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
                opacity: 0;
                transition: ease all .2s;
            }
            .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
                transition: ease all .2s;
            }
            /*End of Navbar hamburger animation*/
        }
        .triangle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        .contLogo{
            text-transform: uppercase;
            text-align: center;
            color: #c1c2c5;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-52%, -50%);
            max-width: 100%;
            p{
                margin: 0px 0px 35px 0;
                font-family: "Open Sans Bold", sans-serif;
                font-weight: bold;
                font-size: 70px;
                line-height: 1;
            }
            .f-light{
                font-family: "Open Sans Light", sans-serif;
                font-weight: lighter;
                font-size: 80px;
            }
        }
        .moreInfo {
            position: absolute;
            left: 50%;
            bottom: 11%;
            transform: translate(-50%, 0);
            text-align: center;
            p {
                font-size: 18px;
                color: #fff;
                font-family: 'Open Sans Bold' sans-serif;
            } //Animation arrowBottom
            .image_off,
            #home:hover .image_on {
                display: none;
            }
            .image_on,
            #home:hover .image_off {
                display: inline-block;
            } //End Animation arrowBottom
        }
    }

    #main {
        p{
            line-height: normal;
        }
        .item>p{
                font-size: 14px;
                font-style: italic;
                letter-spacing: 2px;
        }
        .info>p{
            max-width: 966px;
            margin-bottom: 85px;
            padding: 0px 30px 0px 30px;
        }
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            margin: 0 0 35px 0;
            font-family: "Open Sans Semibold", sans-serif;
            font-weight: 900;
        }
        .title2{
            margin-bottom: 60px;
        }
        h4 {
            font-size: 18px;
            text-transform: uppercase;
            font-family: "Open Sans Semibold", sans-serif;
        }
        .image {
            margin: 55px 0 60px 0;
        }
        background-color: #f3f3f3;
        .ourWork {
            .info {
                color: #58667f !important;
                p {
                    font-family: $font-openSansLightItalic;
                    font-weight: 400;
                    font-size: 18pt;
                    font-style: italic;
                    letter-spacing: 2px;
                }
            }
        }
        .owl-nav {
            display: inline-block;
        }
        .owl-one {
            .owl-item{
                width: 214px;
            }
            .item {
                div,
                h4 {
                    margin-bottom: 32px;
                }
               
            }
        }
        .owl-one .owl-nav button.owl-prev,
        .owl-one button.owl-dot {
            font-size: 60px;
            position: absolute;
            left: -4%;
            top: 38%;
        }
        button.owl-prev:hover,
        button.owl-next:hover {
            background: none;
        }
        .owl-one .owl-nav button.owl-next,
        .owl-one button.owl-dot {
            position: absolute;
            right: -4%;
            top: 38%;
            font-size: 60px;
        }
        button {
            span {
                color: $color-pink;
            }
        }
        button:focus {
            outline: none;
        }
        .aboutUs {
            background-image: url('../img/backgrund2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            .info, h2 {
                line-height: normal;
                color: #fff;
            }
        }
        .ourTeam {
            color: #58667f;
            h2{
                margin: 58px 0 58px 0;
            }
            .row>div{
                margin-bottom: 35px;
            }
            .names {
                margin: 34px 0 10px 0;
                color: $color-pink;
            }
            ul {
                list-style: none;
                padding-left: 0px;
                li {
                    line-height: normal;
                    font-size: 20px;
                    color: #58667f;
                }
                a {
                    text-decoration: none;
                    color: #58667f;
                }
                a:hover {
                    color: #2d4b81;
                }
                li:not(:last-child) {
                    padding-right: 20px;
                }
            }
        }
        .ourClients {
            background-image: url('../img/background3.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            h2 {
                color: $color-pink;
            }
            .owl-two .owl-nav button.owl-prev,
            .owl-two button.owl-dot {
                font-size: 60px;
                position: absolute;
                left: 0%;
                top: -26%;
            }
            .owl-two .owl-nav button.owl-next,
            .owl-two button.owl-dot {
                position: absolute;
                right: 1%;
                top: -35%;
                font-size: 60px;
            }
            button {
                span {
                    color: #6d6865;
                }
            }
            button:focus {
                outline: none;
            }
        }
        .ourProjects {
            .works {
                h2{
                    color: #58667f;
                }
                ul {
                    list-style: none;
                    padding-left: 0px;
                    margin-bottom: 55px;
                    li {
                        width: 100%;
                        color: red;
                        a {
                            line-height: normal;
                            display: block;
                            padding: 18px 30px 18px 30px;
                            text-decoration: none;
                            border: 1px solid $color-pink;
                            color: $color-pink;
                        }
                        a:hover {
                            color: #fff;
                            background-color: $color-pink;
                        }
                    }
                    li:first-child {
                        a {
                            color: #fff;
                            background-color: $color-pink;
                        }
                    }
                    li:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }
            .grid {
                background: #EEE;
                /* center */
                margin: 0 auto;
            }
            /* clearfix */
            .grid:after {
                content: '';
                display: block;
                clear: both;
            }
            /* ---- grid-item ---- */
            .grid-item {
                width: 320px;
                height: 243px;
                float: left;
            }
        }
        .ourBlog {
            .row>div{
                padding: 0 30px 0 0;
            }
            .imgContBlog{
                margin-bottom: 30px;
            }
            .contentBlog{
                max-width: 368px;
                padding-bottom: 60px;
                
            .titleCard{
                margin: 40px 0 60px 0;
            }
            .mb40{
                margin-bottom: 40px;
            }
            }
            
            color: #58667f;
                h4 {
                    text-transform: inherit;
                    a {
                        text-decoration: none;
                        color: #58667f;
                    }
                    a:hover {
                        color: #146b80;
                    }
                }
            .todayDate,
            .comments {
                position: relative;
                font-family: 'Open Sans Light', sans-serif;
                color: #a3afbf;
            }
            .todayDate:before,
            .comments:before {
                font-family: "Font Awesome 5 Free";
                content: "\f073";
                font-weight: 900;
                display: inline-block;
                padding-right: 6px;
                vertical-align: middle;
            }
            .comments:hover {
                color: #ed485c;
                cursor: pointer;
            }
            .todayDate:before {
                content: "\f073";
            }
            .comments:before {
                content: "\f086";
            }
            p{
                margin-bottom: 0;
            }
            p:nth-child(2) {
                margin-top: 0px !important;
            }
        }
        .getUpdate {
            color: #fff;
            background-image: url("../img/background4.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            .container{
                max-width: 1170px;;
            }
            h2{
                margin: 58px 0 58px 0;
            }
            .content {
                margin-bottom: 80px;
                ul {
                    list-style: none;
                    padding-left: 0px;
                    li {
                        margin-right: 15px;
                    }
                    .triangle {
                        display: block;
                        position: relative;
                        width: 0;
                        height: 0;
                        border-left: 37px solid transparent;
                        border-right: 37px solid transparent;
                        border-top: 54px solid red;
                        color: #fff;
                        transition: .3s all ease-in-out;
                        &.color_fb {
                            border-top-color: #58667f;
                            &:hover {
                                border-top-color: #88667f;
                            }
                        }
                        &.color_g {
                            border-top-color: #db412e;
                            &:hover {
                                border-top-color: #904940;
                            }
                        }
                        &.color_tw {
                            border-top-color: #24b1d4;
                            &:hover {
                                border-top-color: #146b80;
                            }
                        }
                        &.color_in {
                            border-top-color: #2671ae;
                            &:hover {
                                border-top-color: #61a1d5;
                            }
                        }
                        &.color_pt {
                            border-top-color: #cb2027;
                            &:hover {
                                border-top-color: #b44c50;
                            }
                        }
                        i {
                            position: absolute;
                            top: -46px;
                            left: 50%;
                            transform: translate(-50%);
                            font-size: 25px;
                        }
                    }
                }
                .subscribe{
                    .form-control{
                        margin-right: 35px;
                        width: 370px;
                        height: 54px;
                        border-radius: 0 !important;
                        color: #97a5b7;
                        font-family: "Open Sans Regular", sans-serif;
                    }
                    button:hover, input:hover, button:active, input:active, button:focus, input:focus {
                        outline:0px !important;
                    }
                    .btn{
                        padding: 14px 40px 14px 40px;
                        color: #fff;
                        background-color: $color-pink;
                        border-radius: 0;
                        text-transform: uppercase;
                        font-family: "Open Sans Semibold", sans-serif;
                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .navbar {
            line-height: normal !important;
            padding: 59px 50px 0px 50px !important;
            .nav-link {
                padding: 0.5rem !important;
            }
        }
        .getUpdate{
            .content{
                ul{
                    margin-bottom: 40px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @media (max-width: 992px) {
        #sectionTop{
        .triangle {
            img {
                max-width: 600px !important;
            }
        }
        .contLogo{
            p{
                margin: 0px 0px 25px 0;
                font-size: 30px;
            }
            .f-light{
                font-size: 40px;
            }
        }
        }
    }

    @media (max-width: 768px) {
       #sectionTop{
        .triangle {
            img {
                max-width: 400px !important;
            }
        }
        
        .contLogo{
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-52%, -71%);
            p{
                margin: 0px 0px 15px 0;
                font-size: 20px;
            }
            .f-light{
                font-size: 25px;
            }
        }
       }
    }
    @media (max-width: 657px){
           #main .ourProjects .works ul {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 55px;
            flex-wrap: wrap;
            li:not(:last-child) {
                margin-right: 0;
                a{
                    border-bottom: 0px;
                }
            }
            }
        .owl-one .owl-nav button.owl-prev,
        .owl-one button.owl-dot {
            font-size: 60px;
            position: absolute;
            left: 8% !important;
            top: 38%;
        }
        button.owl-prev:hover,
        button.owl-next:hover {
            background: none;
        }
        .owl-one .owl-nav button.owl-next,
        .owl-one button.owl-dot {
            position: absolute;
            right: 6% !important;
            top: 30%;
            font-size: 60px;
        }
    }
