    $color-pink: #ed485c;
body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
#navigation{
    background-image: url('../img/background-top.jpg');
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 1000px;
    .navbar{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f28+0,1f1f28+97&1+0,0.03+97 */
        background: -moz-linear-gradient(top, rgba(31,31,40,1) 0%, rgba(31,31,40,0.03) 97%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(31,31,40,1) 0%,rgba(31,31,40,0.03) 97%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(31,31,40,1) 0%,rgba(31,31,40,0.03) 97%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f28', endColorstr='#081f1f28',GradientType=0 ) !important; /* IE6-9 */
        .navbar-nav{
            a{
                color: #fff !important;
                font-weight: bold;
                letter-spacing: 3px;
                font-size: 15px;
            }
            a:hover{
                color: $color-pink !important;
            }
        }
        //Start change logo
        .image_off, #home:hover .image_on{
            display: none;
         }
         .image_on, #home:hover .image_off{
            display: block;
         }
         //End change logo 
         .navbar-toggler{
             border-color: #fff !important; 
             color: #fff !important;
             outline: none !important;
             .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
              }
        }

      
    }
    .triangle{
        max-width: 979px;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        svg{
            background: url(100px-wide-no-height-or-ratio.svg);
            background-size: 200px auto;        }
    }
  }